extends layout

block content
  if(user)
      a(id="ig" href="/insert") 
          button(type='submit' style='padding: 0 28px') Post
      a(id="ig" href="/logout")
          button(type='submit' style='padding: 0px 20px; margin-left: 8px') Logout
      hr
      // Check for items passed from the server
      if (items && items.length)
        table
            thead
                th(style='width:100px; color: darkviolet') Title
                th(style='width:450px; color: darkviolet') Description
                th(style='width:100px; color: darkviolet') Price
                th(style='width:100px') 
                th(style='width:100px')
            tr
            tbody
                // If items are found, create a row and column for each item
                each item in items
                    tr
                        td= item.title
                        td= item.description
                        // Quick currency format for price $nn,nnn.nn
                        td= '$'+(item.price).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')
                        td 
                            a(id="ig" href='/edit/'+item.id) 
                                button(type='submit' style='padding: 0 28px') Edit
                        td
                            form(method='POST' action='/delete/'+item.id)
                                button(type='submit' style='padding: 0 14px' onclick="confirm('Are you sure?')") Delete
      else
        h4 No items for now. Be the first to post!
  else
      h6 Check out the following ads.
      hr
      // Check for items passed from the server
      if (items && items.length)
        table
            thead
                th(style='width:100px; color: darkviolet') Title
                th(style='width:450px; color: darkviolet') Description
                th(style='width:100px; color: darkviolet') Price
                // th(style='width:100px') 
                // th(style='width:100px')
            tr
            tbody
                // If items are found, create a row and column for each item
                each item in items
                    tr
                        td= item.title
                        td= item.description
                        // Quick currency format for price $nn,nnn.nn
                        td= '$'+(item.price).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')
                        //td 
                        //    a(id="ig" href='/edit/'+item.id) 
                        //        button(type='submit' style='padding: 0 28px') Edit
                        //td
                        //    form(method='POST' action='/delete/'+item.id)
                        //        button(type='submit' style='padding: 0 14px' onclick="confirm('Are you sure?')") Delete
      else
        h4 No items for now. Be the first to post!