extends layout

block content
  if(user)
      a(id="ig" href="/insert") 
          button(type='submit' style='padding: 0 28px') Post
      a(id="ig" href="/logout")
          button(type='submit' style='padding: 0px 20px; margin-left: 18px') Logout
      hr
      // Check for items passed from the server
      if (items && items.length)
        table
            thead
                th(style='width:100px; color: darkviolet; padding: 0 0 10px 0px;') Title
                th(style='width:450px; color: darkviolet; padding: 0 0 10px 10vw;') Description
                th(style='width:100px; color: darkviolet; padding: 0 0 10px 0px;') Price
                th(style='width:100px') 
                th(style='width:100px')
            tr
            tbody
                // If items are found, create a row and column for each item
                each item in items
                    tr
                        td= item.title
                        td= item.description
                        // Quick currency format for price ($nn,nnn.nn)
                        td= '$'+(item.price).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')
                        td 
                            a(id="ig" href='/edit/'+item.id) 
                                button(type='submit' style='padding: 0 28px; margin: 0.75rem 0 0.75rem 0;') Edit
                        td
                            form(method='POST' action='/delete/'+item.id)
                                button(type='submit' style='padding: 0 14px' onclick="alert('Ad will be deleted permanently')") Delete
      else
        h6 No items for now. Be the first to post!
        hr
  else

    // Check for items passed from the server
    if (items && items.length)
        h6 Check out the following ads.
        hr
        table
            thead
                th(style='width:100px; color: darkviolet; padding: 0 0 15px 0px;') Title
                th(style='width:450px; color: darkviolet; padding: 0 0 15px 10rem;') Description
                th(style='width:100px; color: darkviolet; padding: 0 0 15px 0px;') Price
                // th(style='width:100px') 
                // th(style='width:100px')
            tr
            tbody
                // If items are found, create a row and column for each item
                each item in items
                    tr
                        td= item.title
                          p(style='padding: 4px')                            
                        td= item.description
                          p(style='padding: 4px')                            
                        // Quick currency format for price ($nn,nnn.nn)
                        td= '$'+(item.price).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')
                          p(style='padding: 4px')                            
    else
        h6 No items for now. Login and be the first to post!
        hr